{
  "parser": "vue-eslint-parser",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module",
    "ecmaVersion": 13,
    "requireConfigFile": false
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended",
    "plugin:nuxt/recommended",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "endOfLine": "auto",
        "singleQuote": true,
        "bracketSpacing": true,
        "arrowParens": "avoid",
        "tabWidth": 2,
        "printWidth": 100,
        "useTabs": false,
        "semi": true,
        "htmlWhitespaceSensitivity": "ignore",
        "spaceBeforeFunctionParen": false,
        "space-before-function-paren": ["error", "never"]
      },
      {
        "usePrettierrc": false
      }
    ],
    "@typescript-eslint/no-unused-vars": "warn",
    "vue/multi-word-component-names": 0,
    "vue/no-v-for-template-key": 0,
    "array-bracket-spacing": ["error", "never"],
    "array-callback-return": "error",
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "arrow-parens": ["error", "as-needed"],
    "arrow-body-style": [
      "error",
      "as-needed",
      { "requireReturnForObjectLiteral": true }
    ],
    "brace-style": "error",
    "camelcase": ["error", { "ignoreImports": true }],
    "comma-dangle": ["error", "always-multiline"],
    "comma-style": ["error", "last"],
    "complexity": ["error", 10],
    "consistent-return": "off",
    "dot-notation": [
      "error",
      { "allowPattern": "^[a-z]+(_[a-z]+)+$", "allowKeywords": true }
    ],
    "eqeqeq": ["error", "always"],
    "eol-last": ["error", "always"],
    // "function-paren-newline": ["error", { "minItems": 4 }],
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "id-length": ["error", { "exceptions": ["t", "i"]}],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/no-unresolved": 0,
    "import/no-mutable-resolved": 0,
    "import/prefer-default-export": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ]
      }
    ],
    "import/no-webpack-loader-syntax": "error",
    "keyword-spacing": "error",
    "lines-between-class-members": "off",
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
    "no-array-constructor": "error",
    "no-case-declarations": "error",
    "no-confusing-arrow": ["error", { "allowParens": true }],
    "no-console": "off",
    "no-duplicate-imports": ["error", { "includeExports": true }],
    "no-dupe-class-members": "error",
    "no-eval": "error",
    "no-else-return": ["error", { "allowElseIf": false }],
    "no-new-object": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-nested-ternary": "error",
    "no-multi-assign": "error",
    "no-mixed-operators": [
      "error",
      {
        "groups": [["+", "-", "*", "/", "%", "**"]],
        "allowSamePrecedence": true
      }
    ],
    "no-unused-vars": "warn",
    "no-unused-expressions": "off",
    "no-underscore-dangle": "error",
    "no-unneeded-ternary": "error",
    "no-useless-constructor": "error",
    "no-useless-escape": "error",
    "no-plusplus": "error",
    "no-param-reassign": ["error", { "props": false }],
    "no-var": "error",
    "no-iterator": "error",
    "no-loop-func": "error",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "ForStatement",
        "message": "For Statements are not allowed."
      },
      {
        "selector": "ForInStatement",
        "message": "For-in Statements are not allowed."
      },
      {
        "selector": "ForOfStatement",
        "message": "For-OF Statements are not allowed."
      },
      {
        "selector": "WithStatement",
        "message": "With Statements are not allowed."
      },
      {
        "selector": "CallExpression[callee.name='setTimeout'][arguments.length!=2]",
        "message": "setTimeout must always be invoked with two arguments."
      }
    ],
    "no-restricted-globals": [
      "error",
      {
        "name": "isNaN",
        "message": "Use Number.isNaN instead."
      },
      {
        "name": "isFinite",
        "message": "Do not commit isFinite. Use Number.isFinite instead."
      }
    ],
    "no-whitespace-before-property": "error",
    "nonblock-statement-body-position": ["error", "beside"],
    "object-curly-spacing": ["error", "always"],
    "object-shorthand": ["error", "never"],
    "operator-linebreak": [
      "error",
      "before",
      { "overrides": { "=": "ignore" } }
    ],
    "one-var": ["error", "never"],
    "padded-blocks": ["error", "never"],
    "prefer-arrow-callback": ["error", { "allowUnboundThis": false }],
    "prefer-destructuring": [
      "warn",
      { "array": false, "object": true },
      { "enforceForRenamedProperties": true }
    ],
    "prefer-exponentiation-operator": "error",
    "prefer-template": "error",
    "prefer-const": [
      "error",
      { "ignoreReadBeforeAssign": false, "destructuring": "all" }
    ],
    "prefer-spread": "error",
    "prefer-rest-params": "error",
    "radix": ["error", "as-needed"],
    "quote-props": ["error", "as-needed", { "keywords": false }],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    "space-before-blocks": ["error", "always"],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "spaced-comment": ["error", "always", { "exceptions": ["-"] }],
    "template-curly-spacing": ["error", "never"],
    "wrap-iife": [1, "inside"]
  }
}